@import './base.scss';

.ins-layout {
  &.el-container {
    &.flex-column {
      display: flex;
      flex-direction: column;
    }
    &.full-screen {
      height: 100%;
    }
    .el-header {
      padding: 0;
      background: var(--color-primary, $--color-primary);
    }
    .ins-layout-content {
      height: 100%;
      overflow: hidden;
      .el-main { padding: 0; }
    }
  }
}
