/* 颜色
--------------------------- */
/// 白色
$--color-white: #FFFFFF !default;
/// 黑色
$--color-black: #000000 !default;
/// 主色
$--color-primary: #2EC6B5 !default;
/// 操作色
$--color-success: #2EC6B5 !default;
$--color-warning: #E6A23C !default;
$--color-danger: #F56C6C !default;
$--color-info: #909399 !default;
/// 背景色
$--background-color-base: #F5F7FA !default;
/// 字体色
$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #C0C4CC !default;

$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */

$--color-primary-light: mix($--color-white, $--color-primary, 80%) !default;
$--color-success-light: mix($--color-white, $--color-success, 80%) !default;
$--color-warning-light: mix($--color-white, $--color-warning, 80%) !default;
$--color-danger-light: mix($--color-white, $--color-danger, 80%) !default;
$--color-info-light: mix($--color-white, $--color-info, 80%) !default;

$--color-primary-lighter: mix($--color-white, $--color-primary, 90%) !default;
$--color-danger-lighter: mix($--color-white, $--color-danger, 90%) !default;
$--color-warning-lighter: mix($--color-white, $--color-warning, 90%) !default;
$--color-success-lighter: mix($--color-white, $--color-success, 90%) !default;
$--color-info-lighter: mix($--color-white, $--color-info, 90%) !default;

$--color-primary-dark: mix($--color-black, $--color-primary, 10%) !default;
$--color-success-dark: mix($--color-black, $--color-success, 10%) !default;
$--color-warning-dark: mix($--color-black, $--color-warning, 10%) !default;
$--color-danger-dark: mix($--color-black, $--color-danger, 10%) !default;
$--color-info-dark: mix($--color-black, $--color-info, 10%) !default;

$--color-primary-darker: mix($--color-black, $--color-primary, 15%) !default;
$--color-danger-darker: mix($--color-black, $--color-danger, 15%) !default;
$--color-warning-darker: mix($--color-black, $--color-warning, 15%) !default;
$--color-success-darker: mix($--color-black, $--color-success, 15%) !default;
$--color-info-darker: mix($--color-black, $--color-info, 15%) !default;

/* 链接
-------------------------- */
$--link-color: $--color-primary-light-2 !default;
$--link-hover-color: $--color-primary !default;

/* 边框
-------------------------- */
/// 宽度
$--border-width-base: 1px !default;
/// 实线虚线格式
$--border-style-base: solid !default;
/// 边框色
$--border-color-base: #DCDFE6 !default;
$--border-color-light: #E4E7ED !default;
$--border-color-lighter: #EBEEF5 !default;
$--border-color-extra-light: #F2F6FC !default;
/// hover 颜色
$--border-color-hover: $--color-text-placeholder !default;
/// 基本样式 border: 1px solid #cccccc;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
/// 圆角
$--border-radius-base: 2px !default;
$--border-radius-small: 2px !default;
$--border-radius-circle: 100% !default;
$--border-radius-zero: 0 !default;
/// 阴影
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

/* 字体
-------------------------- */
$--font-path: "element-ui/lib/theme-chalk/fonts" !default;
/// 大小
$--font-size-mini: 12px !default;
$--font-size-small: 14px !default;
$--font-size-medium: 16px !default;
$--font-size-large: 18px !default;
$--font-size-base: $--font-size-small !default;
/// 粗体
$--font-weight-primary: 500 !default;
$--font-weight-secondary: 100 !default;

/* 不可用状态
-------------------------- */
/// 不可用时背景填充色
$--disabled-fill-base: $--background-color-base !default;
/// 不可用时字体颜色
$--disabled-color-base: $--color-text-placeholder !default;
/// 不可用时边框颜色
$--disabled-border-base: $--border-color-light !default;

/* 外边距
-------------------------- */
$--margin-mini: 8px !default;
$--margin-small: 12px !default;
$--margin-medium: 16px !default;
$--margin-large: 20px !default;
$--margin-base: $--margin-medium !default;
$--margin-none: 0 !default;

/* 内边距
-------------------------- */
$--padding-mini: 8px !default;
$--padding-small: 12px !default;
$--padding-medium: 16px !default;
$--padding-large: 20px !default;
$--padding-base: $--padding-medium !default;
$--padding-none: 0 !default;

/* 高度
-------------------------- */
$--height-mini: 20px !default;
$--height-small: 24px !default;
$--height-medium: 28px !default;
$--height-large: 32px !default;
$--height-base: $--height-small !default;
/// item height
$--item-height-mini: 28px !default;
$--item-height-small: 32px !default;
$--item-height-medium: 36px !default;
$--item-height-large: 40px !default;
$--item-height-base: $--height-small !default;
/// line item height
$--line-item-height-mini: 27px !default;
$--line-item-height-small: 31px !default;
$--line-item-height-medium: 35px !default;
$--line-item-height-large: 39px !default;
$--line-item-height-base: $--height-small !default;

/* 公共变量
-------------------------- */
$--sizes: mini, small, medium, large;
$--size-base: medium;
$--types: primary, success, warning, danger, info;

/* card
-------------------------- */
$--card-border-font-size: 14px !default;
$--card-border-header-height: 40px !default;
$--card-border-color: $--border-color-base !default;
$--card-border-background-color: #F7F8FA !default;
$--card-header-font-size-mini: 14px !default;
$--card-header-font-size-small: 16px !default;
$--card-header-font-size-medium: 18px !default;
$--card-header-font-size-large: 20px !default;
$--card-header-before-width: 3px !default;
$--card-header-before-height: 16px !default;
$--card-header-before-margin-right: 8px !default;
$--card-header-padding-mini: $--padding-mini !default;
$--card-header-padding-small: $--padding-small !default;
$--card-header-padding-medium: $--padding-medium !default;
$--card-header-padding-large: $--padding-large !default;

/* header
-------------------------- */
$--header-padding-mini: $--padding-mini !default;
$--header-padding-small: $--padding-small !default;
$--header-padding-medium: $--padding-medium !default;
$--header-padding-large: $--padding-large !default;

/* drawer
-------------------------- */
$--drawer-header-padding-mini: $--padding-mini !default;
$--drawer-header-padding-small: $--padding-small !default;
$--drawer-header-padding-medium: $--padding-medium !default;
$--drawer-header-padding-large: $--padding-large !default;
$--drawer-header-color: #333 !default;
$--drawer-header-line-height: 22px !default;
$--drawer-header-font-weight: 600 !default;

/* form item
-------------------------- */
/// label font size
$--form-item-label-font-size-mini: 12px !default;
$--form-item-label-font-size-small: 14px !default;
$--form-item-label-font-size-medium: 16px !default;
$--form-item-label-font-size-large: 18px !default;
$--form-item-label-font-size-base: $--form-item-label-font-size-small !default;
/// line height
/// margin bottom
$--form-item-margin-bottom-none: 0px !default;
$--form-item-margin-bottom-mini: 16px !default;
$--form-item-margin-bottom-small: 20px !default;
$--form-item-margin-bottom-medium: 24px !default;
$--form-item-margin-bottom-large: 28px !default;
$--form-item-margin-bottom-base: $--form-item-margin-bottom-small !default;
/// form item error
$--form-item-error-margin-top: 2px !default;
$--form-item-grid-column-gap: 48px !default;
$--form-item-grid-info-column-gap: 8px !default;
$--form-item-grid-min-width-2: 400px !default;
$--form-item-grid-min-width-3: 320px !default;
$--form-item-grid-min-width-4: 240px !default;

/* menu
-------------------------- */
$--menu-item-active-width: 4px !default;
$--menu-item-height-mini: 40px !default;
$--menu-item-height-small: 50px !default;
$--menu-item-height-medium: 60px !default;
$--menu-item-height-large: 70px !default;
$--menu-item-height-base: $--menu-item-height-small !default;

/* table
-------------------------- */
$--table-header-background-color: #F7F8FA !default;
$--table-column-title-color: $--color-info !default;
$--table-column-title-padding-mini: 12px !default;
$--table-column-title-padding-small: 14px !default;
$--table-column-title-padding-medium: 16px !default;
$--table-column-title-padding-large: 18px !default;
$--table-column-filter-wrapper-padding: 8px !default;
$--search-table-search-width: 550px !default;
$--search-table-search-select-font-color: $--color-info !default;
$--search-table-header-padding-mini: 0 !default;
$--search-table-header-padding-small: 0 !default;
$--search-table-header-padding-medium: 12px !default;
$--search-table-header-padding-large: 14px !default;

/* input
-------------------------- */
$--input-font-color: $--color-text-primary !default;
$--input-prepend-width: 120px !default;

/* checkbox
-------------------------- */
$--checkbox-font-color: $--color-text-primary !default;
$--checkbox-item-line-height-mini: 23px !default;
$--checkbox-item-line-height-small: 27px !default;
$--checkbox-item-line-height-medium: 31px !default;
$--checkbox-item-line-height-large: 35px !default;

/* radio
-------------------------- */
$--radio-font-color: $--color-text-primary !default;
$--radio-item-line-height-mini: 23px !default;
$--radio-item-line-height-small: 27px !default;
$--radio-item-line-height-medium: 31px !default;
$--radio-item-line-height-large: 35px !default;

/* select
-------------------------- */
$--select-option-color: $--color-text-primary !default;

/* cascader
-------------------------- */
$--cascader-menu-font-color: $--color-text-primary !default;

/* datepicker
-------------------------- */
$--datepicker-font-color: $--color-text-primary !default;
$--datepicker-header-font-color: $--color-text-primary !default;

/* button
-------------------------- */
$--button-disabled-color: $--color-text-placeholder !default;
$--button-disabled-color-hover: #E1E1E1 !default;
$--button-font-weight: 350 !default;
$--button-font-size-mini: 12px !default;
$--button-font-size-small: 14px !default;
$--button-font-size-medium: 14px !default;
$--button-font-size-large: 14px !default;
$--button-padding-mini: 7px 15px !default;
$--button-padding-small: 8px 15px !default;
$--button-padding-medium: 10px 20px !default;
$--button-padding-large: 12px 20px !default;
